html {
    padding : 0;
    margin : 0;


}
body {
    min-height:100%;
    /*position: relative;*/
    background-color: #F4F4F4;
}
img{
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

.imageImport {
    display : inline-block;
    background-size : cover;
    background-position : center;
    height: 600px;
    /*width: 900px;*/
}
.assets{
    display : inline-block;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.75);
    color: #0080ff;
    font-size: 20px;
}
#slideshow {

    /*position: absolute;*/
    /*width: 900px;*/
    margin: 0 auto;
    /*overflow: hidden;*/

}

#rail {

    width: 8000px; /* 4*900 disabling dynamism.*/
    margin-bottom: 10px;
    position: relative;

}
#text {

    width: 8000px; /* 4*900 disabling dynamism.*/
    /*position: absolute*/
    background: transparent;
    position : relative;
    /*color: antiquewhite;*/
    z-index:-1;

}

#slideshow h1 {

    text-align: center;

}

.btn-slide {

    position: absolute;
    /*top: 50%;*/
    background: transparent;
    /*padding: 170px 12px;*/
    font-size: 14px;
    /*cursor: pointer;*/
    /*outline: none;*/
    border-color: transparent;
    color: antiquewhite;
}


#previous {
left : 0;
    top : 450px;

}

#next {

    right: 0;
    top : 450px;
}

#play-pause {

    top : 450px;
    left: 48%;
}
@media (max-width: 480px) {
    #play-pause {

        top : 450px;
        left: 48%;
    }
    .btn-slide {
        font-size: 7px;
    }
    #next {

        right: 0;
        top : 450px;
    }
}
.btn.disabled {

    background-color: #fff;
    border-color: #ccc;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.pastilles {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top : 20px;
    margin-right : 30px;
    background-color: lightgrey;
    cursor: pointer;
}
.isActive {
    background-color: darkgrey;
}
.pastillesList{
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}